<!--Bu sayfa, Auth Viewleri için kullanılan layout taki Head kısmını ve css kodlarını içeren bir partialdır. 

Tüm View/Auth dosyalarında partial olarak çağırılmıştır -->




	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AspNetMvcBlog</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AspNetMvcBlog.styles.css" asp-append-version="true" />


	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<!------ Include the above in your HEAD tag ---------->
	<!-- All the files that are required -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="~/dist2/css/style.css">




